<form action="/auth" method="post">
    <div class="mb-3">
        <input name="login" type="text" placeholder="login" class="form-control">
        </div>
    <div class="mb-3">
        <input name="password" type="password" placeholder="password" class="form-control">
        </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-primary form-control">
        </div>
</form>